body {
  font-family: "Arial", sans-serif;
  background-color: #f0f4f8;
  margin: 0;
  padding: 0;
}
header {
  background-color: #d0e7ff;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
h1 {
  margin: 0;
  color: #333;
  font-size: 2.5em;
}
main {
  padding: 0;
  display: flex;
  gap: 0;
}
h2 {
  color: #333;
  margin-top: 20px;
  font-size: 1.8em;
  text-align: center;
}

.contprod {
  background-image: url(./assets/fondo1.jpeg);
  width: 65%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.sidecont {
  width: 35%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* #productos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center; 
  align-items: center; 
  width: 470px; 
  height: 470px;
  border-radius: 50%; 
  overflow: hidden; 
  background-color: #e0e7ef; 
  margin: auto; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.producto {
  background-color: #1361bb;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: calc(33.33% - 20px);
  box-sizing: border-box;
  transition: transform 0.2s, box-shadow 0.2s;
}
.producto:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
} */

#productos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Espacio entre los productos */
  justify-content: center; /* Centrar el contenido horizontalmente */
  padding: 20px; /* Añadir relleno alrededor del contenedor */
}

.producto {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 200px; /* Ancho fijo para cada producto */
  box-sizing: border-box;
  text-align: center; /* Centrar el texto */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.producto img {
  width: 100%;
  height: 150px; /* Ajusta la altura según sea necesario */
  object-fit: cover; /* Ajustar la imagen dentro del contenedor */
  border-radius: 10px; /* Bordes redondeados para las imágenes */
}

.producto h3 {
  margin: 10px 0 0;
  font-size: 1.2em;
  color: #333;
}

.producto:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

label,
input,
select,
button {
  display: block;
  margin: 10px 0;
}
input,
select,
button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.2s;
}
input:focus,
select:focus,
button:focus {
  border-color: #a0c4ff;
  outline: none;
}
button {
  background-color: #a0c4ff;
  color: #fff;
  cursor: pointer;
  border: none;
  font-size: 1em;
  transition: background-color 0.2s;
}
button:hover {
  background-color: #789dcf;
}
