body {
  font-family: "Arial", sans-serif;
  background-color: #edf0ed; /* Lightened Jet Stream */
  margin: 0;
  padding: 0;
  height: 100%;
}

header {
  height: 75px;
  background-color: #aac4bc; /* Muted Morning Blue */
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .logo {
  width: 150px;
  height: 140px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 20px;
}

h1 {
  margin: 0;
  color: #6a7a5a; /* Axolotl */
  font-size: 2.5em;
}

main {
  padding: 0;
  display: flex;
  gap: 0;
}

h2 {
  color: #6a7a5a; /* Axolotl */
  margin-top: 20px;
  font-size: 1.8em;
  text-align: center;
}

.contprod {
  width: 100%;
  height: 100vh;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #f0e9de; 
  box-sizing: border-box;
}

.sidecont {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-120%);
  transition: transform 0.8s ease-in-out;
  width: 250px;
  height: 100%;
  background-color: #edf0ed;
  padding: 20px;
  border-radius: 0 10px 10px 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow-y: auto;
}

.sidecont.open {
  transform: translateX(0);
}

::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}
::-webkit-scrollbar-track {
  background-color: #edf0ed; /* Lightened Jet Stream */
}

::-webkit-scrollbar-thumb {
  background-color: #8daf9b; /* Morning Blue */
  border-radius: 5px;
}

#productos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.producto {
  position: relative;
  border: 1px solid #ffffff; 
  padding: 10px;
  margin: 10px;
  width: 200px;
  transition: transform 0.3s;
}

.producto:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.producto .info-completa {
  display: none;
  z-index: 99;
  position: relative;
  top: 0;
  left: 0;
  background: #f0e9de;
  width: 100%;
  height: 200px;
  padding: 5px;
  text-align: center;
}

.producto:hover .info-completa {
  display: block;

}

.producto img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.producto h3 {
  margin: 10px 0 0;
  font-size: 1.2em;
  color: #6a7a5a; /* Axolotl */
  text-align: center;
}

.producto:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

label,
input,
select,
button {
  display: block;
  margin: 10px 0;
}

input,
select,
button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #aac4bc; /* Opal */
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.2s;
}

input:focus,
select:focus,
button:focus {
  border-color: #8daf9b; /* Morning Blue */
  outline: none;
}

button {
  background-color: #8daf9b; /* Morning Blue */
  color: #fff;
  cursor: pointer;
  border: none;
  font-size: 1em;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #6a7a5a; /* Axolotl */
}

.menubtn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #8daf9b; /* Morning Blue */
  color: #fff;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s;
}
.menubtn:hover {
  background-color: #6a7a5a;
}